@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@font-face {
    font-family: "Bitter";
    src: url('assets/Bitter-Regular.ttf')
}

:root {
    --base-font: 'Bitter', serif;
    --fancy-font: 'Fuggles', cursive;
    --base-size: 1.5rem;
    --little-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
}

address {
    font-style: unset;
}

body {
    font-family: var(--base-font);
    font-size: var(--base-size);
    background-color: #f6f5f1;
    background-image: url("./yin_yang.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100vh;
    background-blend-mode: color-dodge;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 4rem;
    animation: focus 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


header {
    margin: 2em;
}

header > *:nth-child(2) {
    animation: stretch 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h1{
    text-align: center;
    font-size: 8rem;
    font-family: 'Fuggles', cursive;
    transform: translateX(-20px);
    font-weight: normal;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

blockquote {
    margin: 0;
}

blockquote > p {
    font-style: italic;
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote > p::before {
    content: '\201C';
}

blockquote > p::after {
    content: '\201D';
}

a, nav > span {
    min-width: 48px;
    line-height: 48px;
    font-size: var(--little-size);
    cursor: pointer;
    text-decoration: none;
    color: sienna;
}

a:link {
    color: sienna;
}

a:visited{
    color: chocolate;
}

a:active, .active-link {
    color: #76b476;
}

a:hover{
    color: #76b476 !important;
}

p {
    text-align: justify;
    max-width: 1000px;
}

.panels {
    display:grid;
    justify-items: center;
}

.panels > * {
    grid-area: 1/1;
    height: 0;
    max-width: 800px;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: opacity 1s ease-in-out;
}

.panels > *:target, .targeted {
    opacity: 1 !important;
    height: unset  !important;;
    visibility: visible !important;;
    display: block !important;;
    transition: opacity 1s ease-in-out !important;;
    animation: focus 0.5s ease-in-out forwards !important;;
}

.panels > * > * {
    margin: 2em 0
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes stretch {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes focus {
    0% {
        filter: blur(12px);
    }
    100% {
        filter: blur(0px);
    }
}

.dyptique {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    align-items: center;
    gap: 1.5rem 3rem;
}

.dyptique > a {
    font-size: var(--base-size);
}

.dyptique > *:nth-child(odd) {
    justify-self: end;
}

@media (max-width: 600px) {

    :root {
        --base-size: 1.2rem;
        --little-size: 1rem;
    }

    h1 {
        font-size: 3rem;
        transform: unset;
    }

    nav {
        justify-content: flex-start;
        gap: 0.2rem;
        flex-wrap: wrap;
    }

    p {
        font-size: var(--little-size);
        width: 300px;
    }

    .dyptique {
        display: grid;
        grid-template-columns: 0.8fr;
    }

    .dyptique > *:nth-child(odd) {
        justify-self: unset;
    }
}

.illustration {
    width: 100%
}

#map {
    width: 90%;
    aspect-ratio: 1;
}

article h2 {
    font-size: 2rem;
    font-weight: normal;
    text-decoration-line: underline;
}

article  > *:nth-child(2) {
    margin: 0.5em 0 0 1em;
}

.centered {
    display: flex;
    justify-content: center;
}